@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
:root {
    --primary-color: #140B5C;
    --secondary-color: #D1C1BB;
    --text-color: #000000;
    --heading-text-color: #140B5C;
    --accent1-color: #D36836;
    --accent2-color: #FBF4F4;

    --heading-font: Barlow;
    --paragraph-font: "Patua One", Helvetica, sans-serif;

    --nav-link-color: #D36836;
    --nav-background-color: #FBF4F4;
    --nav-hover-link-color: #FBF4F4;
    --nav-hover-background-color: #D36836;
}

body {
    font-family:  "Patua One", Helvetica, sans-serif; 
    color: var(--text-color);
    max-width: 800px; 
    margin: 0 auto; 
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-text-color);
}

p {
    color: var(--text-color);
}

a {
    color: var(--nav-link-color);
    text-decoration: none;
}

a.social-link {
    text-decoration: none;
}
nav {
    margin-bottom: 10px;
}
nav a {
    padding: 0 20px;
}
div.hero{
    position: relative;
    display: flex;
    justify-content: center;
    height: 350px;
}
.hero img{
    display: block;
    width: auto;
    height: auto;
    max-width: 800px;
}
article{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5px 15px;
    margin: 0 40px;
    margin-top: 10px;
    top: 95px;
    height: 120px;
    opacity: 0.9;
    background: var(--accent2-color);
    color: var(--primary-color);
    border-radius: 5px;
}
.hero h1{
    position: absolute;
    background: var(--accent2-color);
    padding: 3px 100px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: larger;
    top: 35px;
    text-align: center;
    color: var(--heading-text-color);
}
article p{
    color: black;
}
article h1{
    top: -75px !important;
    right: 185px;
}

.hero article img{
    float: right;
    height: 85%;
    border: 2px solid var(--accent1-color);
    opacity: 1;
    border-radius: 20px;
}
header{
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center; 
    justify-content: space-between;
    padding: 10px;
}
nav{
    display: flex;
    text-align: right;
    margin: 0 40px 0 auto;
    padding: 10px;
    
}
.logo{
    width: 80px;
	height: auto;
}
.navigation {
	display: flex;
	list-style: none;
}
.history {
    padding: 20px;
    background-color: #f4f4f4;
}
.history h2{
    width: fit-content;
    margin: 10px auto;
}
.history div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.history div img{
    max-width: 150px;
}
.first-paragraph{
    margin-right:10px;
    text-align: justify;
}
.second-paragraph{
    margin-left:10px;
    text-align: justify;
}
/* Adventures */
.adventures {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    margin-right: 10px; 
}
/* Footer */
footer{
    display: flex;
    justify-content: right;
    text-align: right;
}

.sociallinks {
    display: flex;
    gap: 5px; 
}

