@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #140B5C;
    --secondary-color: #D1C1BB;
    --accent1-color: #D36836;
    --accent2-color: #FBF4F4;

    --heading-font: Barlow;
    --paragraph-font: "Patua One", Helvetica, sans-serif;

    --nav-link-color: #D36836;
    --nav-background-color: #FBF4F4;
    --nav-hover-link-color: #FBF4F4;
    --nav-hover-background-color: #D36836;
}


body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
   
    margin: 0 auto;  /* Extra css included by myself to center all the content */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}


nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav {
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}