@font-face {
    font-family: 'deja_vu_bold';
    src: url('../fonts/dejavu-sans/DejaVuSans-Bold.ttf');
  }
@font-face {
    font-family: 'deja_vu';
    src: url('../fonts/dejavu-sans/DejaVuSans.ttf');
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black_border:#1c1f27cc;
    --bg_color:#f0f8ff;
    --text_color:#1c1f27cc;
}
header {
    background-color: var(--black_border);
    height: 150px;
    padding-left: 15px;
}
header nav {
    display: flex;
    padding-top: 15px;
    flex-direction: column;
    justify-content: space-between;
}
header nav a{
    color: white;
    padding: 2px;
}
body{
    background-color: var(--bg_color);
    font-family: deja_vu_bold, Arial, Helvetica, sans-serif;
    padding-inline: 15px;
}
main {
    max-width: 840px;
    height: auto;
}
h1, h2{
    display: flex;
    /* justify-content: center; */
    width:auto;
    margin-top: 20px;
    font-weight: 600;
}

main img{
    border-radius: 10%;
    width: 150px;
    height: auto;
    box-shadow: 2px 2px 4px var(--black_border);
    background-size: contain;
    background-position: center;
    float: right;
}

p{
    display: flex;
    justify-content: center;
    width: auto;
    height: 200px;
    margin-top: 20px; 
    font-family: deja_vu,Arial, Helvetica, sans-serif;
    padding: 0;
    padding-right: 15px;
    text-align: justify;
}
aside {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 0 auto; */
    width: 840px;
    /* border: 1px solid ; */
    border-radius: 10px;
    text-align: center;
    padding: 10px; 
    background-color: inherit; 
    color: black; 
}
aside h2 {
    position: absolute;
    top: -10px;
}
ul li{
    padding-left: 10px;
}
p a{
    display: contents;
}
aside img{
    width: 200px;
    height: auto;
    margin-top: 30px;
}
footer{
    margin-top: 30px;
    border-top: 1px dashed var(--black_border);
    text-align: center;
}
/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid var(--black_border);
    padding: 1rem;
    background-color: var(--bg_color);
    color: var(--text_color);
}
